/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
lib/virgil/sdk/virgil_crypto_ruby.so
/docs/
key_storage
test/support/env.yml
*.virgilkey
secrets.tar
travis_rsa
*.gem
.idea
*sample.rb
.DS_Store
