/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
lib/virgil/sdk/virgil_crypto_ruby.so
/doc/
key_storage
*.virgilkey
secrets.tar
travis_rsa
*.gem
.idea
/samples/
/test/support/env.yml
.DS_Store
