/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
lib/virgil/sdk/virgil_crypto_ruby.so
key_storage
test/support/env.yml
*.virgilkey
secrets.zip
/secrets/
*.gem
.idea
*sample.rb
